@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color:rgb(255, 255, 180);
  font-family: 'Playfair Display', serif;

}